# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# PyCharm settings
.idea/

# Other files you don’t want to track
*.log
*.sqlite3

# Runtime / test artifacts
images/
incoming/
output/

# Camera captures
*.jpg
*.png
*.jpeg

